@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.mv-banner {
  font-family: Montserrat, sans-serif;
}
.mv-banner__header {
  height: 300px;
  width: 100%;
  object-fit: contain;
  box-sizing: border-box;
}
.mv-banner--fadebottom {
  height: 10.5rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  position: relative;
  top: -165px;
}
.mv-image__cotainer__card {
  width: 400px;
  height: 560px;
  border-radius: 30px;
  /* left: 200px;
  top: 100px; */
}

.mv-container__flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  position: relative;
  padding: 0 2rem;
}

.mv-container__movieinfo {
  width: 70%;
  padding-left: 2rem;
  position: relative;
}
.mv-title {
  color: aliceblue;
  font-size: 4rem;
  line-height: 1;
}
.mv-container__movieinfo__genres {
  margin-top: 24px;
  margin-bottom: 16px;
}
.mv-genre {
  padding: 0.5rem 1.5rem;
  border: 2px solid #fff;
  font-size: 0.8rem;
  font-size: 600;
  background-color: black;

  border-radius: 30px;
  margin: 8px;
}
.mv-container__movieinfo > * {
  margin-bottom: 1.5rem;
}
.mv-container__movieinfo__synopsis {
  color: #fff;
}
.mv-cast__picture {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  height: 220px;
  margin: 0.7rem;
}
.mv-container__movieinfo__cast {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  padding-top: 8px;
  scrollbar-width: none;
}
.mv-title {
  margin-bottom: 15px;
}
.mv-cast__name {
  padding: 10px 0 20px 0;
  text-align: center;
}
element::-webkit-scrollbar {
  width: 0.1rem; /* Set the width of the scrollbar to a minimal value */
}
