@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.comments__container .center__display {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.center__display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .top {
  position: relative;
}
.top .likes__count {
  position: absolute;
  top: 0;
  left: 0;
  background: #ffadad;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-bottom-right-radius: 20px;
  color: white;
}
.likes__count small {
  font-size: 20px;
  margin-left: 5px;
}

.top video {
  object-fit: fill;
}
.form_comment_section {
  display: grid;
  width: 100%;
  height: 80px;
  grid-template-columns: 5% 80% 15%;
}
.form__info input {
  border: none;
  background: transparent;
  width: 70%;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  margin-bottom: 10px;
  outline: none;
}
.form__info input::placeholder {
  color: #ddd;
}
.top .heart__icon {
  color: #ffadad;
  font-size: 30px;
  cursor: pointer;
}
.top button {
  background-color: #48cae4;
  height: 50%;
  border: none;
  outline: none;
  color: white;
  transform: translateY(50%);
  margin-right: 10px;
  cursor: pointer;
}
/* comments */

.comments__container {
  width: 800px;
}
.comment__card {
  width: 100%;
  display: grid;
  grid-template-columns: 10% auto;
  margin: 0.5rem;
  border-bottom: 1px solid #3e3535;
  padding-bottom: 10px;
}
.comment {
  margin-bottom: 0px;
}
.comment__card .pic {
  background-color: #1d1e1f;
  border-radius: 50%;

  font-size: 25px;
  color: white;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
}
.comment__info .nick {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comment__info .comment {
  margin: 1px 0;
}
.comment__info .comment__bottom {
  display: flex;
}
.comment__bottom .heart__icon--coment {
  font-size: 20px;
  margin-right: 25px;
  color: #eee;
}
.heart__icon--coment .far .fa-heart {
  margin-left: 5px;
}
.comment__bottom button {
  border: none;
  background: transparent;
  color: #aaa;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 60%;
}

#heart_2 {
  margin-right: 30px;
}

.top {
  height: 320px;
  border-bottom: #ddd;
}

/* if there is no picture it will only be a colour */
.image-container img {
  background-color: #48cae4;
  border-radius: 50%;

  font-size: 25px;
  color: white;
  text-transform: uppercase;
  width: 60px;
  height: 60px;
}

#username_comment_section {
  font-weight: bold; /* Make the username bold */
  font-size: 16px; /* Adjust the font size as needed */
  color: #4b513e; /* Choose a color for usernames */
  margin-right: 10px; /* Add spacing between the username and the comment text */
}
/* comment input */
#floatingTextarea {
  resize: none;
  width: 600px;
  height: 200px;
  margin-top: 10px;
}
#floatingTextarea_2 {
  resize: none;
  width: 700px;
  height: 240px;
  margin-top: 5px;
}

#form-button {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  font-family: Montserrat, sans-serif;
  background-color: rgba(52, 52, 52, 0.5);
  color: white;
}
#form-button:hover {
  color: rgba(52, 52, 52, 0.5);
  background-color: rgba(255, 255, 255, 0.583);
  border-radius: 3vw;
  transition: all 0.5s ease 0s;
}

/* srolable container for the comments */
.scroll-bg {
  width: auto;
  border: 0.1px solid rgba(255, 255, 255, 0.263);
}
.scroll-div {
  margin: 50px;
  width: auto;
  height: 800px;
  /* make the overflow element that exist outside 800 hidden  */
  overflow: hidden;
  overflow-y: scroll;
}
