.mv-picture {
  height: 100%;
  width: 85%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  margin-left: 80px;
}

.mv-container__moviePictures {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: 200px;
  margin: 0px 180px 200px 180px;
}
