.footer__container {
  position: relative;
  background-image: url("../assets/footer-bg.jpg");
  height: 250px;
  width: 100%;
}

.footer__fadebottom {
  height: 10.5rem;
  background-image: linear-gradient(
    180deg,
    #111,
    rgba(37, 37, 37, 0.61),
    transparent
  );
  margin-top: 15px;
  margin-bottom: 10px;
}
