@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.homepage {
  background-color: #111;
}
.fav-nav__links {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 30px, 10%;
  border-left: 5px;
}
.fav-nav__links__button {
  border: none;
  background-color: rgba(52, 52, 52, 0.5);
  font-family: Montserrat, sans-serif;
  color: white;
  border-radius: 0.2vw;
  height: 2.3rem;
  width: 7rem;
}
.fav-nav__links__button:hover {
  color: rgba(52, 52, 52, 0.5);
  background-color: rgba(255, 255, 255, 0.583);
  border-radius: 3vw;
  transition: all 0.5s ease 0s;
}
.fav-nav__links__button__hovered {
  color: rgba(52, 52, 52, 0.5);
  background-color: rgba(255, 255, 255, 0.583);
  border-radius: 3vw;
}

.fav-nav {
  display: flex;
  justify-content: space-evenly;
}

.fav-nav_outer {
  width: 100%;
  align-items: center;
  background-color: #1e1c1c;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-top: 50px;
}
.corousel__title {
  margin-left: 54px;
  margin-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
