@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.header__navigation_h {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px, 10%;
  height: 3.5rem;
  position: fixed;
  width: 100%;
  z-index: 101;
  transition-timing-function: ease-in;
  transition: all 0.8s;
}

.header__navigation_black_h {
  transition: all 0.3s ease 0s;
  background-color: black;
}

.header__navigation_NavLink-div_h {
  margin-left: 1rem;
}

/* all the nav link inside the headers */
.header__navigation-NavLink_h {
  text-decoration: none;

  color: #c0c0c0;
  cursor: pointer;
}
/* all the value inside the ul  */
.nav__links_h ul {
  margin: 0px;
  padding: 0px;
}
.nav__links_h li {
  display: inline-block;
  padding: 0px 0.7rem;
}
.nav__links_h li a {
  transition: all 0.3s ease 0s;
}
.header__navigation_h li a:hover {
  color: white;
}
.nav__links_h li {
  transition: all 0.3s ease 0s;
}
.header__navigation_h a:hover {
  color: white;
}

/* the signup, logout, and login effect */
#positive_h {
  transition: all 0.3s ease 0s;
}
#positive_h:hover {
  color: green;
}
#negative_h {
  transition: all 0.3s ease 0s;
}
#negative_h:hover {
  color: red;
}

.authentications_h {
  margin-right: 1rem;
  margin-left: 1rem;
}
.search-value-container-center-flex {
  display: flex;
  justify-content: center;
}

.search-value-container {
  width: 1428px;
  height: 650px;
  background-color: #000000;
  position: fixed;

  z-index: 100;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 63px 0 56px 0;

  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  overflow: hidden;
  overflow-y: scroll;
}

.movie__card {
  margin: 10px 0 10px 0;
  max-height: 280px;
}

.rowrow__poster__picture__nav {
  padding: 0px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  margin-left: 12px;
  margin-right: 12px;
  height: 280px;
  width: 180px;
}
#searchbar {
  background-color: rgba(0, 0, 0, 0.431);
  height: 25px;
  color: white;
}
#searchbar:focus {
  margin: 0;
}
