.login-container {
  background-image: url("../assets/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 975px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-login-card {
  width: 400px;
  padding: 50px;
  background-color: black;
  border: 1px solid silver;
  border-radius: 5px;
  margin-top: 0px;
  margin-right: 0px; /* Add this line */
  color: silver;
}

.movie-login-form-floating {
  margin-bottom: 20px;
}

.movie-login-btn-dark-blue {
  background-color: rgb(7, 7, 106);
  border-color: rgb(7, 7, 106);
  color: silver;
}
#signin__title {
  text-align: center;
}
