.watch-movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  margin: 20px -10px 0;
  transition: background-color 0.4s, box-shadow 0.4s;
}

.watch-movies {
  flex: 0 0 calc(25% - 100px);
  margin: 1px;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  margin-top: 50px;
}

.watch-movies:hover {
  box-shadow: 0px 0px 100px rgba(183, 176, 176, 0.3);
  cursor: pointer;
  transform: scale(1.3);
}

.erase-button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 93px;
  background-color: rgba(37, 37, 37, 0.61);
  width: 80px;
  margin-top: 10px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.erase-button:hover {
  color: rgba(255, 0, 0, 0.914);
}

.watch-titles {
  align-items: center;
  text-align: center;
  color: #868686;
}

.mywatchlist__title {
  margin-top: 60px;
  text-align: center;
  color: #fff;
}
